<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
    <form action="" method="GET">
        <label for="">
            <input type="text" value="searchText">
        </label>
        <select name="" id="">
            <option value="title">Title</option>
            <option value="authur">Authur</option>
        </select>
    </form>

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>